<p id="notice"><%= notice %></p>

<h1>Test Case Runs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_case_runs.each do |test_case_run| %>
      <tr>
        <td><%= link_to 'Show', test_case_run %></td>
        <td><%= link_to 'Edit', edit_test_case_run_path(test_case_run) %></td>
        <td><%= link_to 'Destroy', test_case_run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Case Run', new_test_case_run_path %>
